[ReportSpecific]
report_title = 2015 Week 22 (25.05-31.05)

[Files]
jiffy_report_file = /home/user/Downloads/jiffy.csv
naming_rules_file = naming_rules.txt
out_html_report_file = /home/user/Downloads/report.html

[Columns]
column_name_project = Project
column_name_task = Task
column_name_minutes = Minutes
column_name_extra = Note

[Html]
before_report = <html><body><div style="background:white;width:800px;right: 0;left: 0;margin-right: auto;margin-left: auto;">
after_report = </div></body></html>

[Trello]
trello_developer_key =
trello_user_oauth_token =
trello_board =