[ReportSpecific]
report_title = 2015 Week 22 (25.05-31.05)

[Files]
jiffy_report_file = /home/user/Downloads/jiffy.csv
naming_rules_file = naming_rules.txt
out_html_report_file = /home/user/Downloads/report.html

[Columns]
column_name_project = Project
column_name_task = Task
column_name_minutes = Minutes
column_name_extra = Note

[Html]
before_report = <html><body><div style="background:white;width:800px;right: 0;left: 0;margin-right: auto;margin-left: auto;">
after_report = </div></body></html>

[Trello]

# to generate your Trello developer key visit https://trello.com/1/appKey/generate
trello_developer_key =

# to get your token read https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user
# or open the following link in the browser (don't forget to change SUBSTITUE_WITH_YOUR_DEV_KEY with your trello_developer_key
# https://trello.com/1/authorize?key=SUBSTITUE_WITH_YOUR_DEV_KEY&name=coscious-life-generator&expiration=never&response_type=token
trello_user_oauth_token =

trello_board_id = yEfGPTZu
trello_list_done_name = Done
trello_list_failed_name = Postponed / Failed
naming_rules_file = naming_rules_trello.txt